# this is not read by setup. It is here solely for RTD and user interest
requests==2.32.4
numpy==2.4.4
scipy==1.17.1
pandas==3.0.1
pebble==5.2.0
rdkit==2025.9.6
rdkit-to-params==1.3.9   # MF authored this
molecular-rectifier==1.0.1  # MF authored this
typing_extensions==4.15.0
matplotlib==3.10.8  # optional
smallworld-api==1.1.4  # optional. MF authored this
sqlitedict==2.1.0 # optional — CVE fix for insecure deserialization
pyyaml==6.0.3