include fragmenstein/divergent_colors.json
recursive-include fragmenstein/demo *.mol *.pdb *.sdf

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude *.map

include README.md
include requirements.txt