# this is not read by setup. It is here solely for RTD and user interest
requests>=2.27.1
# ipython  # Specifying a version causes drama in colab which is using IPython 7.x
numpy>=1.21.6  # 1.22.4 does not seem to exist for 3.7 (i.e. colab)
scipy>=1.7.3  # 1.8.1 (i.e. colab)
pandas>=1.3.5 # 1.4.2
pebble>=4.6.3
nglview>= 3.0.3
rdkit>=2022.3.2.1
rdkit-to-params>=1.2.3   # MF authored this
molecular-rectifier>=0.1.10  # MF authored this
singledispatchmethod>= 1.0  # backport for python 3.7
typing_extensions>=4.8.0  # backport for python 3.7
singledispatchmethod>= 1.0  # backport for python 3.8
matplotlib>=3.5.2  # optional
smallworld-api>=1.1  # optional. MF authored this
sqlitedict>= 2.0.0 # optional
pandera>=0.17.2
pandarallel>=1.6.5
pyyaml>=6.0
# ipywidgets 8 broke most widgets as of late 2022
# `pymol2` is conda only and optional
# `pyrosetta` has non-standard installation, see docs and `fragmenstein.igor.pyrosetta_import` for mock for RTD
